.main-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: fit-content;
}
 
.top-nav {
  grid-column: 1 / -1;
  background-color: #333;
  color: white;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}